body {
    margin: 0;
    background-color: rgb(2, 26, 13);
    color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;

}

header {
    padding: 30px;
    text-align: center;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: blanchedalmond;
    font-size: clamp(24px, 10vw, 96px);
    white-space: nowrap;
    font-variant: small-caps;
}

p {
    font-family: "Courier New", Courier, monospace;
    color: rgb(236, 186, 111);
    font-size: clamp(24px, 10vw, 36px);
    white-space: nowrap;
}

.gallery {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px 30px;
}

.gallery img {
    display: block;
    max-width: 100%;
    height: auto;
}